# Postgres
DB_HOST=postgres
DB_NAME=rps_game
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_PORT=5432

# RabbitMQ
RABBIT_HOST=rabbitmq
RABBIT_USER=guest
RABBIT_PASS=guest
RABBIT_PORT=5672
RABBIT_MANAGEMENT_PORT=15672

# NGINX
NGINX_URL=http://localhost:8080
NGINX_PORT=8080

# FrontEnd
FRONTEND_URL=http://localhost:3000
FRONTEND_LOCATION=/
FRONTEND_PORT=3000

# Game Service
GAME_API_PUBLIC_URL=http://localhost:8080/api/game
GAME_API_LOCATION=/api/game/
GAME_SERVICE_PORT=3001

# Score Service
SCORE_API_PUBLIC_URL=http://localhost:8080/api/score
SCORE_API_LOCATION=/api/score/
WS_PUBLIC_URL=http://localhost:8080/socket.io
WS_LOCATION=/socket.io/
SCORE_SERVICE_PORT=3002