* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --label-width: 120px;
  --label-width-480: 70px;
  --label-height: 150px;
  --label-height-480: 90px;
  --card-border-color: #ccc;
  --card-bg-color: #f4f4f4;
  --bg-color: #fff;
  --text-color: #000;
}

html,
body {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}